body{
  font-family: 'Patrick Hand';
  letter-spacing: 0.2rem;
  background-color: var(--yellow);
}

html, body{
  min-height: 100vh;
}

:root{
  min-height: 100%;
}

.App{
  height: 100%;
}

.Header{
  background-color: var(--brown);
  margin: 0;
  padding: 0;
  height: 5rem;
  box-shadow: 0px 4px 4px 0px #b7b2a8;
}

.logo{
  height: 3vw;
  padding-top: 0.35em;
}

.headerText{
  color: var(--yellow);
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 12rem;
  padding-right: 12rem;
}

.Title{
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  font-size: 135%;
}

.otherTitles{
  display: flex;
  flex-direction: row;
  direction: rtl;
  min-width: 15%;
  justify-content: space-between;
  gap: 30%;
  font-size: 150%;
}

h1{
  margin: 0;
  padding: 0;
}

.featuresContainer{
  display: grid;
  grid-template-columns: 6fr 4fr;
  height: 75vh;
  padding: 3rem;
  padding-left: 9rem;
  padding-right: 9rem;
  padding-bottom: 10rem;
  column-gap: 3rem;
}

.Card{
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

.sideFeaturesContainer{
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 3rem;
}